body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at top left, #0f0f0f, #111827, #000000);
  color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-content {
  z-index: 1;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
  color: white;
  text-shadow: 0 0 10px #00ffcc66;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #cccccc;
  margin: 10px 0 30px;
}

/* .icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icons a {
  color: white;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icons a:hover {
  transform: scale(1.3);
  color: #00ffcc;
  filter: drop-shadow(0 0 10px #00ffcc);
} */

.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 1;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.icon {
  font-size: 2rem;
  color: white;
  transition: transform 0.3s, color 0.3s;
}

.icon-label {
  margin-top: 6px;
  font-size: 0.75rem;
  color: #00ffcc;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hover animation */
.icon-item:hover .icon {
  transform: scale(1.4);
  color: #00ffcc;
  filter: drop-shadow(0 0 10px #00ffcc);
}

.icon-item:hover .icon-label {
  opacity: 1;
  transform: translateY(0);
}
.console-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}









.footer {
  position: absolute;
  bottom: 9px;
  right: 20px;
  /* adjust spacing from the right edge */
  font-size: 0.8rem;
  color: #aaa;
  font-family: 'JetBrains Mono', monospace;
  z-index: 1;
}

.footer span {
  color: #00ffcc;
  font-weight: bold;
}


